* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', cursive;
}

body {
    background: #fff7e6;
    text-align: center;
    scroll-behavior: smooth;
}

/* HOME */
.home {
    min-height: 100vh;
    padding: 120px 20px;
    background: linear-gradient(270deg, #ffdde1, #ee9ca7, #ffc3a0);
    background-size: 600% 600%;
    animation: bgMove 12s ease infinite;
}

.title {
    font-size: 3rem;
    color: #7a1f3d;
    text-shadow: 0 0 15px rgba(255,77,109,0.7);
}

.subtitle {
    margin: 20px 0;
    font-size: 1.2rem;
}

.start-btn {
    padding: 15px 35px;
    background: #ff4d6d;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    animation: pulse 2s infinite;
}

/* SURPRISE */
.surprise {
    padding: 80px 20px;
    background: #fff;
}

.gift {
    font-size: 4rem;
    cursor: pointer;
    animation: bounce 1.5s infinite;
}

#secretText {
    display: none;
    margin-top: 15px;
    font-size: 1.2rem;
    color: #ff2f92;
}

/* PHOTOS */
.photos {
    padding: 80px 20px;
    background: linear-gradient(135deg, #fff0f5, #ffe6f0);
    display: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    max-width: 1000px;
    margin: auto;
}

.photo {
    opacity: 0;
    transform: scale(0.6);
    animation: magic 0.8s forwards;
}

.photo img {
    width: 100%;
    border-radius: 18px;
    padding: 6px;
    border: 3px solid #ff9eb5;
    background: white;
    box-shadow: 0 0 25px rgba(255, 105, 135, 0.4);
    transition: all 0.5s ease;
    animation: floatImg 4s ease-in-out infinite;
}

.photo img:hover {
    transform: scale(1.12);
    box-shadow: 0 25px 40px rgba(255, 77, 109, 0.6);
    border-color: #ff4d6d;
}

.photo p {
    margin-top: 10px;
    font-size: 0.95rem;
    color: #7a1f3d;
}

/* FINAL */
.final {
    padding: 90px 20px;
    background: linear-gradient(135deg, #8360c3, #2ebf91);
    display: none;
}

.final-card {
    background: rgba(255,255,255,0.9);
    padding: 40px;
    max-width: 600px;
    margin: auto;
    border-radius: 20px;
}

/* FLOATING HEARTS */
.hearts span {
    position: fixed;
    bottom: -10px;
    pointer-events: none;
    animation: floatUp 6s linear infinite;
    z-index: 999;
}

/* ANIMATIONS */
@keyframes bgMove {
    0% {background-position:0% 50%;}
    50% {background-position:100% 50%;}
    100% {background-position:0% 50%;}
}

@keyframes pulse {
    50% {transform: scale(1.1);}
}

@keyframes bounce {
    50% {transform: translateY(-10px);}
}

@keyframes magic {
    to {opacity:1; transform:scale(1);}
}

@keyframes floatImg {
    0%,100% {transform: translateY(0);}
    50% {transform: translateY(-8px);}
}

@keyframes floatUp {
    from {transform: translateY(0); opacity:1;}
    to {transform: translateY(-120vh); opacity:0;}
}
